In [1]:
%matplotlib widget

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from matplotlib.animation import FuncAnimation

In [3]:
url = 'https://python-graph-gallery.com/wp-content/uploads/gapminderData.csv'
data = pd.read_csv(url)

In [4]:
data

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [5]:
data_year = data[data.year == 2002]
print(data_year)

                 country  year         pop continent  lifeExp    gdpPercap
10           Afghanistan  2002  25268405.0      Asia   42.129   726.734055
22               Albania  2002   3508512.0    Europe   75.651  4604.211737
34               Algeria  2002  31287142.0    Africa   70.994  5288.040382
46                Angola  2002  10866106.0    Africa   41.003  2773.287312
58             Argentina  2002  38331121.0  Americas   74.340  8797.640716
...                  ...   ...         ...       ...      ...          ...
1654             Vietnam  2002  80908147.0      Asia   73.017  1764.456677
1666  West Bank and Gaza  2002   3389578.0      Asia   72.370  4515.487575
1678         Yemen, Rep.  2002  18701257.0      Asia   60.308  2234.820827
1690              Zambia  2002  10595811.0    Africa   39.193  1071.613938
1702            Zimbabwe  2002  11926563.0    Africa   39.989   672.038623

[142 rows x 6 columns]

In [14]:
year = 2002
def plot_pop(year):
    data_year = data[data.year == year]
    plt.scatter(data_year.lifeExp, 
                data_year.gdpPercap, 
                s=data_year['pop']/200000,
            cmap="hot",
            alpha=0.6,
            edgecolors="red",
            linewidth=2)

    plt.title(f'Hans Rosling - gapminder.org {year}')
    plt.xlabel('Esperanza de vida')
    plt.ylabel('Producto interior bruto per cápita')

plot_pop(2002)

In [15]:
años = data.year.unique().tolist()

In [12]:
fig, ax = plt.subplots()
def init():
    ax.set_xlim(0,100)
    ax.set_ylim(0,60000)

def plot_pop(year):
    data_year = data[data.year == year]
    ax.scatter(data_year.lifeExp, 
                data_year.gdpPercap, 
                s=data_year['pop']/200000,
            cmap="hot",
            alpha=0.6,
            edgecolors="red",
            linewidth=2)

    plt.title(f'Hans Rosling - gapminder.org {year}')
    plt.xlabel('Esperanza de vida')
    plt.ylabel('Producto interior bruto per cápita')

ani = FuncAnimation(fig, plot_pop, años,
        init_func=init, interval = 250, repeat=False)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …