In [15]:
%matplotlib widget
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
# Descargamos los datos

In [31]:
url = 'https://python-graph-gallery.com/wp-content/uploads/gapminderData.csv'
data = pd.read_csv(url)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
year         1704 non-null int64
pop          1704 non-null float64
continent    1704 non-null object
lifeExp      1704 non-null float64
gdpPercap    1704 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB

In [36]:
# Convertimos la clase continente a 'categ√≥rica'
data['continent']=pd.Categorical(data['continent'])

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
year         1704 non-null int64
pop          1704 non-null float64
continent    1704 non-null category
lifeExp      1704 non-null float64
gdpPercap    1704 non-null float64
dtypes: category(1), float64(3), int64(1), object(1)
memory usage: 68.5+ KB

In [40]:
data.continent

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
5         Asia
6         Asia
7         Asia
8         Asia
9         Asia
10        Asia
11        Asia
12      Europe
13      Europe
14      Europe
15      Europe
16      Europe
17      Europe
18      Europe
19      Europe
20      Europe
21      Europe
22      Europe
23      Europe
24      Africa
25      Africa
26      Africa
27      Africa
28      Africa
29      Africa
         ...
1674      Asia
1675      Asia
1676      Asia
1677      Asia
1678      Asia
1679      Asia
1680    Africa
1681    Africa
1682    Africa
1683    Africa
1684    Africa
1685    Africa
1686    Africa
1687    Africa
1688    Africa
1689    Africa
1690    Africa
1691    Africa
1692    Africa
1693    Africa
1694    Africa
1695    Africa
1696    Africa
1697    Africa
1698    Africa
1699    Africa
1700    Africa
1701    Africa
1702    Africa
1703    Africa
Name: continent, Length: 1704, dtype: category
Categories (5, object): [Africa, Americas, Asia, Europe, Oceania]

In [39]:
data.continent.cat.codes

0       2
1       2
2       2
3       2
4       2
5       2
6       2
7       2
8       2
9       2
10      2
11      2
12      3
13      3
14      3
15      3
16      3
17      3
18      3
19      3
20      3
21      3
22      3
23      3
24      0
25      0
26      0
27      0
28      0
29      0
       ..
1674    2
1675    2
1676    2
1677    2
1678    2
1679    2
1680    0
1681    0
1682    0
1683    0
1684    0
1685    0
1686    0
1687    0
1688    0
1689    0
1690    0
1691    0
1692    0
1693    0
1694    0
1695    0
1696    0
1697    0
1698    0
1699    0
1700    0
1701    0
1702    0
1703    0
Length: 1704, dtype: int8

In [21]:
data.head(15)

        country  year         pop continent  lifeExp    gdpPercap
0   Afghanistan  1952   8425333.0      Asia   28.801   779.445314
1   Afghanistan  1957   9240934.0      Asia   30.332   820.853030
2   Afghanistan  1962  10267083.0      Asia   31.997   853.100710
3   Afghanistan  1967  11537966.0      Asia   34.020   836.197138
4   Afghanistan  1972  13079460.0      Asia   36.088   739.981106
5   Afghanistan  1977  14880372.0      Asia   38.438   786.113360
6   Afghanistan  1982  12881816.0      Asia   39.854   978.011439
7   Afghanistan  1987  13867957.0      Asia   40.822   852.395945
8   Afghanistan  1992  16317921.0      Asia   41.674   649.341395
9   Afghanistan  1997  22227415.0      Asia   41.763   635.341351
10  Afghanistan  2002  25268405.0      Asia   42.129   726.734055
11  Afghanistan  2007  31889923.0      Asia   43.828   974.580338
12      Albania  1952   1282697.0    Europe   55.230  1601.056136
13      Albania  1957   1476505.0    Europe   59.280  1942.284244
14      Albania  1962   1728137.0    Europe   64.820  2312.888958

In [22]:
data.year.unique()

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007], dtype=int64)

# Elegimos solo los datos del a√±o 1982

In [30]:
data82 = data[data.year==1982]

plt.figure()
plt.scatter(data82.lifeExp, 
            data82.gdpPercap, 
            s=data82['pop']/200000,
            c=data82.continent.cat.codes,
        cmap="Accent",
        alpha=0.6,
        edgecolors="white",
        linewidth=2)

plt.title('Hans Rosling - gapminder.org')
plt.xlabel('Esperanza de vida')
plt.ylabel('Producto interior bruto per c√°pita')
plt.legend(list(data82.continent.cat.categories))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous ‚Ä¶

Text(0, 0.5, 'Producto interior bruto per c√°pita')

In [28]:
list(data.continent.cat.categories)

['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']

In [48]:
data_country = data[data.country == 'Spain']

plt.figure()
plt.scatter(data_country.lifeExp, 
            data_country.gdpPercap, 
            s=data_country['pop']/200000,
            c=data_country.year,
        cmap="hot",
        alpha=0.6,
        edgecolors="red",
        linewidth=2)

plt.title('Hans Rosling - gapminder.org')
plt.xlabel('Esperanza de vida')
plt.ylabel('Producto interior bruto per c√°pita')
plt.colorbar()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous ‚Ä¶